h1 { color : brown; text-align: center;}

html, body { background: aliceblue; padding: 0px; margin: 0px; height: 100%; }

header { border-bottom: 1px solid gray; height : 10%; background: yellow; overflow: hidden;}

nav { width : 20%; height: 82em; background: orange; float: left; overflow: hidden;}

section { width : 80%; height: 82em; background: lightblue; float: left; overflow: hidden;}

a { text-decoration: none;}

h2 { color: blue; text-shadow : 5px 5px 15px darkblue;}

p, li { text-indent : 1em; font-family : "휴먼 편지체", Serif; font-size : 1em }

table { border-collapse: collapse; }

td,th { text-align: center; padding : 5px; height: 15px; width: 200px; font-size: 15px;}

thead,tfoot { background: darkgray; color: darkblue; }

tbody tr:nth-child(even) { background: rgb(183, 232, 245); }

tbody th:hover, tbody td:hover { background: pink; }

td, tfoot th { border-bottom: 1px solid gray; }

footer { background: plum; border-radius: 20px; height: 8%; clear: left; overflow: hidden;}
